html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Update CSS variables */
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.right-margin {
  margin-left: 5px;
}
.left-margin {
  margin-left: 5px;
}

.top-margin {
  margin-top: 10px;
}

.big-top-margin {
  margin-top: 100px;
}

.marginal {
  margin-left: 10px !important;
}

.padding {
  margin-left: 10px;
  margin-right: 10px;
}


.command {
  background-color: #a7ccf5 !important;
  color: white;
}
.event {
  background-color: #fb9e50 !important;
  color: black;
}
.readmodel {
  background-color: #d7f397 !important;
  color: black;
}

.aggregate {
  background-color: #c3a0ce !important;
  color: white !important;
}
.spec {
  background-color: #7a7a7a !important;
  color: white !important;
  cursor: pointer;
}

.command_spec {
  background-color: #a7ccf5 !important;
  color: white;
  display: block;
  padding: 0.75rem;
}

.debug {
  background-color: white!important;
  z-index: 100 !important;
  position: absolute;
  width: 450px;
  top:15px;
  right: 20px;
  max-height: 500px;
  overflow-y: scroll;
  background-image: linear-gradient(45deg, rgba(200, 200, 200, 0.1) 25%, transparent 25%, transparent 50%, rgba(200, 200, 200, 0.1) 50%, rgba(200, 200, 200, 0.1) 75%, transparent 75%, transparent);
  background-size: 40px 40px; /* Adjust to control the stripe width and spacing */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, color */

  border: 1px solid gray;
}

.rjsf button {
  margin-top: 15px;
}

.box.disabled {
  position: relative; /* Needed for positioning the overlay */
  pointer-events: none; /* Disables interactions */
  opacity: 0.6; /* Makes the box look faded */
}

.box.disabled::before {
  content: ""; /* Required to display the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5); /* White overlay */
  z-index: 1; /* Ensure it is above the content */
}

.panel-heading {
  color: white !important
}